.container{
    width:400px;
    height:400px;
    border:1px solid black;
}

.ball {
    width:50px;
    height:50px;
    border-radius:50%;
    position:relative;
    background-color: yellow;
    animation-name:bounce, movement;
    animation-duration:0.5s, 4s;
    animation-timing-function: cubic-bezier(.5,0,1,.5), linear;
    animation-direction:alternate;
    animation-iteration-count:infinite;
    

}  
/*Animaciones*/
@keyframes movement{
    0% {left: 0px;}
    100% {left: 350px}
  }
  
@keyframes bounce{
  0% {top: 40px; transform: scale(1, 1);}
  80%{transform: scale(0.85, 1);}
  100% {top: 378px; transform: scale(1.2,0.6);}
}
  
  